@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('[https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;700;900&display=swap](https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;700;900&display=swap)');

:root {
  font-family: 'Tajawal', sans-serif;
  background-color: #050505;
  color-scheme: dark;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
